<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="canvas" style="background: url(/static/uploads/Rectangle.png)">
      <img class="statusbar" src="/uploads/111.png" />
      <a href="/accounts/login/">
        <div class="firstpage_login">
          log in
        </div>
      </a>
      <a href="/accounts/first_create/">
        <div class="firstpage_register">
        register
        </div>
      </a>

      <div class="bottomline"></div>
    </div>
  </body>
</html>
