<!DOCTYPE html>
<html lang="en">
  <head>
    <title>health</title>
    <style>
      .post {
        width: fit-content;
        border: 1px solid black;
        margin: 20px;
        clear: both;
      }
      .total {
        margin: auto;
        width: fit-content;
        clear: both;
      }
    </style>
  </head>
  <body>
    <div>
      <h2 style="float: left"><a href="/">logo</a> | health</h2>
      <h2 style="float: right">
        <a href="/explore/">explore</a> |
        <a href="/users/{{logname}}/">{{logname}}</a>
      </h2>
    </div>

    <div class="total">
      <div class="post">
        <div>
          <a href="/users/{{owner}}/">
            <img
              style="width: 40px; height: 50px; float: left"
              src="{{owner_img_url}}"
              alt="pic of {{owner}}"
            />
          </a>
          <h4 style="float: left">
            <a href="/users/{{owner}}/"> {{owner}}</a>
          </h4>

          <p style="float: right">
            <a href="/posts/{{postid}}/"> {{timestamp}}</a>
          </p>
        </div>
        <img style="width: 600px; height: 450px" src="{{img_url}}" alt="post" />
        {% if likes == 1 %}
        <p>1 like</p>
        {% else %}
        <p>{{likes}} likes</p>
        {% endif %} {% for comment in comments %}
        <p>
          <a href="/users/{{comment['owner']}}/">{{comment['owner']}}</a>
          {{comment['text']}}
        </p>
        {%- if logname == comment.owner %}
        <form
          action="/comments/?target=/posts/{{postid}}/"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="operation" value="delete" />
          <input type="hidden" name="commentid" value="{{comment.commentid}}" />
          <input type="submit" name="uncomment" value="delete" />
        </form>
        {%- endif %} {% endfor %}
        <br />
        {%- if like_this_post == 0 %}
        <form
          action="/likes/?target=/posts/{{postid}}/"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="operation" value="like" />
          <input type="hidden" name="postid" value="{{postid}}" />
          <input type="submit" name="like" value="like" />
        </form>
        {%- else %}
        <form
          action="/likes/?target=/posts/{{postid}}/"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="operation" value="unlike" />
          <input type="hidden" name="postid" value="{{postid}}" />
          <input type="submit" name="unlike" value="unlike" />
        </form>
        {%- endif %}
        <br />
        <form
          action="/comments/?target=/posts/{{postid}}/"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="operation" value="create" />
          <input type="hidden" name="postid" value="{{postid}}" />
          <input type="text" name="text" required />
          <input type="submit" name="comment" value="comment" />
        </form>
        <br />
        {%- if logname == owner %}
        <form
          action="/posts/?target=/users/{{logname}}/"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="operation" value="delete" />
          <input type="hidden" name="postid" value="{{postid}}" />
          <input type="submit" name="delete" value="delete this post" />
        </form>
        {%- endif %}
      </div>
    </div>
  </body>
</html>
